:root {
    --text: #222222;
    --accent: #cf222e;;
    --muted: #6c757d;
    --bg: #ffffff;
    --font: "Barlow", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    --link: #0969DA;
}

html, body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font);
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.6;
}

a {
    color: var(--link);
    text-decoration: none;
}

.menulink {
    color: var(--text);
    font-size: 14pt;
    text-decoration: none;
}

.menulink:hover {
    color: var(--text);
}

.header {
    color: var(--muted);
    font-size: 18pt;
    text-decoration: none;
}

.name {
    color: #111;
    font-size: 23pt;
}

.papertitle {
    color: var(--text);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    font-weight: 400;
    text-decoration: none;
    color: var(--accent);
}

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.profilepic {
    width: 150px;
    border-radius: 50%;
    filter: grayscale(20%);
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 50%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}
